<div class="grid">

  <div class="grid__item post-large--two-thirds push--post-large--one-sixth">

    <div class="section-header">
      <h1 class="section-header--title">{{ page.title }}</h1>
    </div>

    <div class="rte">
      {{ page.content }}
    </div>

    <div>
      
      {% form 'contact' %}

        {% if form.posted_successfully? %}
          <p class="note form-success">
            {{ 'contact.form.post_success' | t }}
          </p>
        {% endif %}

        {{ form.errors | default_errors }}

        {% assign name_attr = 'contact.form.name' | t | handle %}
        <label for="ContactFormName" >{{ 'contact.form.name' | t }}:</label>
        <input style="color: lightgray; background-color: #fff; border-radius:20px; border-color: rgba(163, 163, 163, 0.5); border-width: 3px;" type="text" id="ContactFormName" name="contact[{{ 'contact.form.name' | t }}]" placeholder="{{ 'contact.form.name' | t }}" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">

        <label for="ContactFormEmail" >{{ 'contact.form.email' | t }}:</label>
        <input style="color: lightgray; background-color: #fff; border-radius:20px; border-color: rgba(163, 163, 163, 0.5); border-width: 3px;" type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{ 'contact.form.email' | t }}" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">

        {% assign name_attr = 'contact.form.phone' | t | handle %}
      	{%comment%}{{ 'contact.form.phone' | t }} {%endcomment%}
        <label for="ContactFormPhone" >Order Number:</label>
        <input style="color: lightgray; background-color: #fff; border-radius:20px; border-color: rgba(163, 163, 163, 0.5); border-width: 3px;" type="number" id="ContactFormPhone" name="contact[{{ 'contact.form.phone' | t }}]" placeholder="Order Number"  value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

        <label for="ContactFormMessage" >{{ 'contact.form.message' | t }}:</label>
        <textarea style="color: lightgray; background-color: #fff; border-radius:20px; border-color: rgba(163, 163, 163, 0.5); border-width: 3px;" rows="10" id="ContactFormMessage" name="contact[{{ 'contact.form.message' | t }}]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>
	
      <p> DISCLAIMER: Please note that our team is comprised of full time college students! We’re all very busy, so if we don’t respond immediately, know that we’ll get to your message soon enough. Thank you for understanding! </p>
        <input type="submit" class="btn right" style="color: white; background-color: #95CCC2; border-radius:20px; text-align:center; padding-right: 30px; padding-left: 30px;" value="{{ 'contact.form.send' | t }}">

      {% endform %}
      
   </div>
 </div>
</div>
